/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2018, 11:25:38 AM
    Author     : mattpeternell
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
body {
  background-color: #fee000;
  color: #000;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

.custom-grid--thirds {
  max-width: 100%; }
  .custom-grid--thirds::after {
    clear: both;
    content: "";
    display: block; }
  @media (min-width: 1025px) {
    .custom-grid--thirds {
      height: 100vh; } }

@media (min-width: 1081px) {
  .custom-grid--left {
    width: calc(66.6666666667%);
    float: left;
    margin-left: 0;
    height: 100vh; } }
@media (max-width: 1080px) {
  .custom-grid--left {
    width: calc(100%);
    float: left;
    margin-left: 0; } }

.custom-grid--right {
  box-sizing: border-box;
  padding: 3.125em 2.500em; }
  @media (min-width: 1401px) {
    .custom-grid--right {
      padding: 3.125em 3.500em; } }
  @media (min-width: 1081px) {
    .custom-grid--right {
      width: calc(33.3333333333%);
      float: left;
      margin-left: 0;
      height: 100vh; } }
  @media (max-width: 1080px) {
    .custom-grid--right {
      width: calc(100%);
      float: left;
      margin-left: 0; } }

.desktop-img {
  display: none; }
  @media (min-width: 768px) {
    .desktop-img {
      display: block; } }

.tablet-img {
  display: none; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .tablet-img {
      display: none; } }

.phablet-img {
  display: none; }
  @media (min-width: 381px) and (max-width: 767px) {
    .phablet-img {
      display: block; } }

.mobile-img {
  display: none; }
  @media (max-width: 380px) {
    .mobile-img {
      display: block; } }

.logo {
  position: absolute;
  bottom: 48px;
  left: 160px;
  max-width: 231px; }

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto; }

a {
  background-color: transparent;
  text-decoration: none;
  color: #000; }

h1 {
  font-size: 2.625em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 32px;
  line-height: 40px; }
  @media (min-width: 1600px) {
    h1 {
      font-size: 4.325em;
      line-height: 4.638rem; } }
  @media (min-width: 1281px) and (max-width: 1599px) {
    h1 {
      font-size: 3.625em;
      line-height: 4.938rem; } }
  @media (max-width: 380px) {
    h1 {
      text-align: center; } }

.sephora {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  text-align: center; }
  @media (min-width: 1401px) {
    .sephora {
      margin-bottom: 6rem; } }
  @media (max-width: 1400px) {
    .sephora {
      margin-bottom: 4rem; } }
  .sephora a {
    padding: 0.50em 0.75em;
    display: inline-block;
    border: 2px solid #000;
    border-radius: 10px; }
    .sephora a:hover {
      color: #666666;
      border: 2px solid #666666;
      background-color: #e4c900; }

ul.my-list {
  margin: 0;
  list-style: none;
  overflow: auto; }
  @media (min-width: 1401px) {
    ul.my-list {
      margin-bottom: 4rem; } }
  @media (max-width: 1400px) {
    ul.my-list {
      margin: 0 auto 4rem;
      max-width: 480px; } }
  @media (max-width: 380px) {
    ul.my-list {
      padding: 0; } }
  ul.my-list li {
    margin-bottom: 2em;
    font-size: 1.5em;
    padding-left: 1rem; }
    @media (min-width: 768px) and (max-width: 1023px) {
      ul.my-list li {
        margin-bottom: 1.25em; } }
    @media (max-width: 380px) {
      ul.my-list li {
        padding-left: 0;
        margin-top: 3em;
        text-align: center; } }
    ul.my-list li.number {
      position: relative; }
      ul.my-list li.number:before {
        position: absolute;
        left: -38px;
        top: 5px;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        background-color: #000;
        width: 37px;
        height: 37px;
        content: 'x';
        border-radius: 50%;
        color: #fee000;
        text-align: center;
        line-height: 37px; }
        @media (max-width: 380px) {
          ul.my-list li.number:before {
            left: 50%;
            top: -3rem;
            transform: translateX(-50%); } }
      ul.my-list li.number.one:before {
        content: '1'; }
      ul.my-list li.number.two:before {
        content: '2'; }
      ul.my-list li.number.three:before {
        content: '3'; }

.jarts a {
  display: block; }
.jarts .my-logo {
  max-width: 223px;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
