/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2018, 11:25:38 AM
    Author     : mattpeternell
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@import "bourbon/_bourbon.scss";
@import "neat/_neat.scss";

$custom-grid--thirds: (
columns: 12,
gutter: 0,
);

body {
    background-color: #fee000;
    color: #000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.custom-grid--thirds {
    @include grid-container;
    max-width: 100%;
    @media (min-width:1025px) {
        height: 100vh;
    }
}

.custom-grid--left {
    @media (min-width:1081px) {
        @include grid-column(8, $custom-grid--thirds);
        height: 100vh;
    }
    @media (max-width:1080px) {
        @include grid-column(12, $custom-grid--thirds);
    }
}

.custom-grid--right {
    box-sizing: border-box;
    padding: 3.125em 2.500em;
    @media (min-width:1401px) {
        padding: 3.125em 3.500em;
    }
    @media (min-width:1081px) {
        @include grid-column(4, $custom-grid--thirds);
        height: 100vh;
    }
    @media (max-width:1080px) {
        @include grid-column(12, $custom-grid--thirds);
        //padding: 2.125em 2.250em;
    }
}

.desktop-img {
    display: none;
    @media (min-width:768px) {
        display: block;
    }
}
.tablet-img {
    display: none;
    @media (min-width:768px) and (max-width:1023px) {
        display: none;
    }
}
.phablet-img {
    display: none;
    @media (min-width:381px) and (max-width:767px) {
        display: block;
    }
}
.mobile-img {
    display: none;
    @media (max-width:380px) {
        display: block;
    }
}
.logo {
    position: absolute;
    bottom: 48px;
    left: 160px;
    max-width: 231px;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 2.625em;
    text-align: center;
    @media (min-width:1600px) {
        font-size: 4.325em;
        line-height: 4.638rem;
    }
    @media (min-width:1281px) and (max-width: 1599px) {
        font-size: 3.625em;
        line-height: 4.938rem;
    }
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 32px;
    line-height: 40px;
    @media (max-width: 380px) {
        text-align: center;
    }
}

.sephora {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.25em;
    text-align: center;
    @media (min-width: 1401px) {
        margin-bottom: 6rem;
    }
    @media (max-width: 1400px) {
        margin-bottom: 4rem;
    }
    a {
        padding: 0.50em 0.75em;
        display: inline-block;
        border: 2px solid #000;
        border-radius: 10px;
        &:hover {
            color: #666666;
            border: 2px solid #666666;
            background-color: #e4c900;
        }
    }
}
ul.my-list {
    margin: 0;
    list-style: none;
    overflow: auto;
    @media (min-width: 1401px) {
        margin-bottom: 4rem;
    }
    @media (max-width: 1400px) {
        margin: 0 auto 4rem;
        max-width: 480px;
    }
    @media (max-width: 380px) {
        padding: 0;
    }
    li {
        margin-bottom: 2em;
        @media (min-width:768px) and (max-width:1023px) {
            margin-bottom: 1.25em;
        }
        font-size: 1.5em;
        padding-left: 1rem;
        @media (max-width: 380px) {
            padding-left: 0;
            margin-top: 3em;
            text-align: center;
        }
        &.number {
            position: relative;
            &:before {
                position: absolute;
                left: -38px;
                top: 5px;
                @media (max-width: 380px) {
                    left: 50%;
                    top: -3rem;
                    transform: translateX(-50%);
                }
                font-size: 30px;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                background-color: #000;
                width: 37px;
                height: 37px;
                content: 'x';
                border-radius: 50%;
                color: #fee000;
                text-align: center;
                line-height: 37px;
            }
            &.one {
                &:before {
                    content: '1';
                }
            }
            &.two {
                &:before {
                    content: '2';
                }
            }
            &.three {
                &:before {
                    content: '3';
                }
            }
        }
    }
}

.jarts {

    a {
        display: block;
    }
    .my-logo {
        max-width: 223px;
        margin: 0 auto;
    }
}
